<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      background: rgb(87, 255, 87);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
    "
  >
    <div
      style="
        background: #fff;
        padding: 5vh 5vw;
        max-width: 1000px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h1 style="font-size: 30px; text-align: center; margin: 4vh 0">
        Activate Your TheTecher Account
      </h1>
      <p style="font-size: 18px">
        Dear <span style="font-weight: 900"> {{user_name}} </span> your TheTecher
        is ready for activate just click the button below to activate it. If you
        didn't signup to our plattflorm so simple ignore it.
      </p>
      <a
        href="#"
        style="
          display: block;
          background-color: green;
          padding: 10px 40px;
          border-radius: 999px;
          color: #fff;
          text-decoration: none;
          font-size: 20px;
        "
        >Activate</a
      >
    </div>
  </body>
</html>
