{% extends "base.html" %} {% block content %}
<div class="max-w-[1440px] w-full mx-auto">
  <div
    class="my-11 shadow-2xl rounded-2xl max-w-[1000px] w-[90%] mx-auto px-6 py-10"
  >
    <h1 class="text-center text-3xl">Login to your Account</h1>
    <form method="post" novalidate>
      {% csrf_token %} {% for field in form %}
      <label for="{{field.id_for_label}}" class="block"
        >{{field.label}} :
      </label>
       {{field}} 
     {% if field.errors %} {% for error in field.errors %}
      <p class="mb-3 text-red-600">{{error}}</p>
      {% endfor %} {% endif %} {% endfor %}
      <p class="text-right my-3 text-blue-600"><a href="{% url "register" %}">Not have an account?</a></p>
      <input
        type="submit"
        value="Signup"
        class="w-full bg-green-700 text-white py-3 rounded-full"
      />
    </form>
  </div>
</div>
{% endblock content %}
